html,
body {
    font-size: 16px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

body {
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
    background-image: url('../media/weather-default.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#today {
    text-align: center;
}

#main-icon {
    margin-right: 3.5%;
}

.ds-credit {
    color: #fff;
    text-decoration: none;
    position: absolute;
    bottom: 2%;
    left: 2%;
}
